<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>WEather</title>
    <link rel="stylesheet" href="css/styles.css">

  </head>
  <body>
    {{>header}}
    <form>
      <input placeholder="Location">
      <button>Search</button>
    </form>
    <p id="one"></p>
    <p id="two"></p>
    <script src="/js/sample.js" charset="utf-8"></script>
  </body>
</html>
