<header>
  <h1>{{title}}</h1>
  <p>{{name}}</p>
  <!-- Since we are writing 'title' here, hence every file which should have 'title' in it. -->

  <div >
    <a href="/">Weather</a>
    <a href="/about">About</a>
    <a href="/help">Help</a>
  </div>
</header>
